APP_NAME=verifyworker
APP_ENV=prod
SCAN_CACHEABLE=true

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=verifyworker
DB_USERNAME=verifyworker
DB_PASSWORD=J6NSssGRQnswz77E
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=redis_8CKciS
REDIS_PORT=6379
REDIS_DB=0

AMQP_HOST=rabbitmq
AMQP_PORT=5672
AMQP_USER=rabbitmq
AMQP_PASSWORD=rabbitmq
AMQP_VHOST=/